@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=DotGothic16&display=swap');

@font-face {
    font-family: 'BM Mini';
    src: url('../BMmini.TTF') format('truetype');
}

* {
    -webkit-tap-highlight-color: #00000000;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'DotGothic16', sans-serif;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

p {
    line-height: 16px;
}

body {
    margin: 0px;
    color: #ccc;
    font-family: 'Karla', sans-serif;
}